module Plans
  class <%= class_name %> < Base
    def name = "<%= class_name %>"
    def price = 0
    def description = "Description for <%= class_name %> plan"

    # Override features from Base to enable them
    # def priority_support = super.enable

    # Link to adjacent plans for navigation
    # def next = plan(NextPlan)
    # def previous = plan(PreviousPlan)
  end
end
